/* styles.css */
.alumni-list {
    list-style: none;
    padding: 0;
  }
  
  .alumni {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px; /* Add spacing between alumni */
  }
  
  .profile-image {
    width: 100px;
    margin-right: 20px;
  }
  
  .alumni-info {
    flex: 1;
  }
   