.alumni-list {
  list-style-type: none;
  padding: 0;
}

.alumni {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  border-radius: 50%;
  margin-right: 20px;
}

.alumni-info {
  max-width: 600px;
}

.alumni-info h2 {
  margin: 0;
  font-size: 1.5em;
}

.alumni-info p {
  margin: 5px 0;
}